:root {
    --blue: rgba(52, 81, 166, 0.8);
    --darkblue: rgba(27, 42, 88, 0.8);
}

h1,h2,h3,h4,h5,p,a,li,span {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    margin: 5px;
    text-decoration: none;

}

h1 {
    font-size: 1.5em;
    font-weight: 200;
}

h2,h3 {
    font-weight: 200;
    font-size: 1em;
}

p {
    font-size: 0.5em;
}

body {
    background-color: #000000;
    margin: 0 0 20px 0;
    background-image: url("images/bglogo1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;

}

.list-wrapper {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.item {
    margin: 0.7rem 0.5rem;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0.1rem;
    width: 50%;
    background-color: var(--blue);
    border-radius: 0.1em;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


link {
    text-decoration: none;
    text-decoration-color: #000000;
    padding: 0;
}

.center-horizontal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}



.header {
    border-radius: 0.1em;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
    background-color: rgba(52, 81, 166, 0.5);
    padding: 0.5em;
    width: 50%;
}

.floating {
    border-radius: 0.1em;
    box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .item {
        width: 90%;
    }
    .header {
        width: 90%;
    }
}
    
.headerdiv {
    margin-top: 2%;
}

