:root {
    --blue: rgba(52, 81, 166);
    --darkblue: rgba(27, 42, 88);
  }
  


#overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    background: var(--darkblue);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 100;
}

#popup {
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--darkblue);
    width: 800px;
    margin-left: -400px; /*Half the value of width to center div*/
    margin-top: -250px; /*Half the value of height to center div*/
    z-index: 200;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.popupcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px 10px;
}

.popupcontrols {
    /*makeitarectanglethatsitsatthebotomofthedivitsin*/width: 30%;
    z-index: 300;
    text-align: center;
    background-color: #078148;
    border-top: 3em;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: .1em;
}

@media screen and (max-width: 500px) {
    #popup {
        width: 90%;
        margin-left: -45%;
        margin-top: -50%;
        padding: 10px;
        border: 10px;
    }
    .popupcontrols {
        width: 100%;
    }
}
